# README.md
#get baseline T and PSA dates and values for the salvage cohort

## Table of Contents
* [Read data, clean up and get stats](#first-bullet)
* [Get the baseline T dates and values](#second-bullet)
* [Get the T recovery status](#third-bullet)

In [1]:
import numpy as np
import pandas as pd
import sys, getopt
import csv
from datetime import datetime
import itertools

from matplotlib import pyplot
from pylab import *
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns

# Read data, clean up and get stats <a class="anchor" id="first-bullet"></a>

In [2]:
df0=pd.read_excel("./data/down_from_270pts_manual_reviewed.xlsx", header=0)
list_pt=df0["person_id"].to_list()
df0.fillna('', inplace=True)
print(shape(df0))
print("")

#get rid of empty lines
df_sa=pd.read_excel("./data/salvage_cohort.xlsx", header=0) 
df_sa_lo=pd.read_excel("./data/salvage_and_localized_cohort.xlsx", header=0) 

list_pt_sa=df_sa["person_id"].to_list()
df_sa.fillna('', inplace=True)
print(shape(df_sa))
print("")

list_pt_sa_lo=df_sa_lo["person_id"].to_list()
df_sa_lo.fillna('', inplace=True)
print(shape(df_sa_lo))
print("")

(270, 3)

(99, 4)

(98, 4)

In [5]:
df_sa_lo[:3]
df_sa_lo.drop(['person_id.1'], axis=1)

    person_id ADT_start (manal reviewed mar16) ADT_end manual reviewed mar16
0          81                       2014-04-15           2016-06-09 00:00:00
1        1257                       2014-10-02           2015-07-08 00:00:00
2        1508                       2016-08-03           2017-04-16 00:00:00
3        2061                       2018-04-04           2019-02-06 00:00:00
4        2063                       2017-11-15           2018-03-20 00:00:00
..        ...                              ...                           ...
93     178232                       2019-04-24           2020-01-31 00:00:00
94     180346                       2019-04-05           2019-09-18 00:00:00
95     180780                       2019-10-21           2020-01-15 00:00:00
96     186766                       2019-05-06           2020-02-03 00:00:00
97     187363                       2019-02-01           2019-06-19 00:00:00

[98 rows x 3 columns]

In [7]:
df_sa_lo.columns=(['index','person_id', 'ADT_start','ADT_end'])

In [32]:
df0[:3]

   person_id            ADT_start              ADT_end
0          2  2005-02-14 00:00:00  2005-12-12 00:00:00
1         13  2010-06-17 00:00:00  2015-03-17 00:00:00
2         25  2013-01-08 00:00:00  2014-02-18 00:00:00

In [9]:

print(shape(df_sa_lo))
df_fix=df_sa_lo[df_sa_lo.ADT_start!=""][df_sa_lo.ADT_start!=" "]
print(shape(df_fix))
df_fixfix=df_fix[df_fix.ADT_end!=""][df_fix.ADT_end!=" "]
print(shape(df_fixfix))

list_pt_new=df_fixfix["person_id"].to_list()

(98, 4)
(98, 4)
(98, 4)

In [11]:
df_tvalue=pd.read_excel("./data/pca_tresults_20210119_BP_fixed.xlsx", header=0)
#df3=pd.read_csv("just_start_empty.csv", header=0)
df_tvalue.replace(r'', np.NaN)
df_tvalue[:3]

df_tvalue_grouped=df_tvalue.groupby(["person_id"]).size().reset_index(name='counts')
list_pt_ttest=df_tvalue_grouped["person_id"].to_list()
print("list of pt ids with t test results")
print(len(list_pt_ttest))

print("overlapping with t test")
overlap_list1=[x for x in list_pt_new if x in  list_pt_ttest]
print(len(overlap_list1))

list of pt ids with t test results
4490
overlapping with t test
98

In [12]:
def closest(lst, K): 
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i] - K))]

In [13]:
df0[:5]

   person_id            ADT_start              ADT_end
0          2  2005-02-14 00:00:00  2005-12-12 00:00:00
1         13  2010-06-17 00:00:00  2015-03-17 00:00:00
2         25  2013-01-08 00:00:00  2014-02-18 00:00:00
3         38  2015-11-18 00:00:00  2016-07-18 00:00:00
4         81  2014-04-15 00:00:00  2016-06-09 00:00:00

In [14]:
list_pt_new

[81,
 1257,
 1508,
 2061,
 2063,
 2200,
 2623,
 2652,
 2655,
 3030,
 3905,
 3993,
 4595,
 5561,
 5791,
 5870,
 5873,
 7268,
 7611,
 7612,
 8272,
 8717,
 9124,
 9975,
 10945,
 11859,
 11861,
 12187,
 12779,
 13274,
 13613,
 14217,
 14221,
 14242,
 14278,
 14287,
 14900,
 15149,
 15495,
 16175,
 16558,
 17341,
 17395,
 17559,
 17580,
 17662,
 17710,
 17759,
 18303,
 18450,
 18821,
 19068,
 21047,
 21341,
 21480,
 21613,
 21832,
 21932,
 21938,
 22100,
 22833,
 23979,
 24562,
 24582,
 25809,
 25886,
 26071,
 26735,
 26854,
 27180,
 27207,
 27656,
 27766,
 27945,
 27966,
 30554,
 30816,
 31297,
 31492,
 31839,
 32230,
 32276,
 33500,
 33586,
 34207,
 34433,
 34547,
 34574,
 35103,
 35343,
 36249,
 36508,
 167118,
 178232,
 180346,
 180780,
 186766,
 187363]

# Get the baseline T dates and values <a class="anchor" id="second-bullet"></a>

In [15]:
##get the baseline T dates and values
result_baseline_list=[]
df1=df_fixfix
df2=df_tvalue

for y in list_pt_new:
    #print(y)    
    df1_pt=df1[(df1["person_id"] == y)]
    df1_pt['ADT_start'] = pd.to_datetime(df1_pt['ADT_start'])

    if(len(df1_pt.ADT_start)==0):
        a='NaN'
        status='NaN'
        tdate='NaN'
        tvalue='NaN'
        N_t_dates='NaN'
        N_t_dates_beforeADT='NaN'
            
    #if(df1_pt.ADT_start.values.any()!=""):
    if(len(df1_pt.ADT_start)!=0):
        
        a=df1_pt['ADT_start'].to_list()[0]

        df2_pt=df2[(df2["person_id"] == y)]    
        each_pt_tdates = df2_pt['result_date'].to_list()

        ##get rid of nan
        cleaned_a=[]
        cleaned_a= [x for x in each_pt_tdates if str(x) != 'NaN']
        cleaned_aa= [x for x in cleaned_a if str(x) != 'nan']
        cleaned_aaa= [x for x in cleaned_aa if str(x) != 'NaT']
        N_t_dates=len(cleaned_aaa)

        #only keep the ones before ADT start date, including on the day
        cleaned_aaaa= [x for x in cleaned_aaa if x <=a]
        start_sorted_bin=sorted(cleaned_aaaa)
        N_t_dates_beforeADT=len(cleaned_aaaa)
    
        if(len(start_sorted_bin)==0):
            tdate='NaN' 
            tvalue="NaN"
            #status means no baseline TT avail
            status="N"
        #print(tdate)
        
        if(len(start_sorted_bin)>0):
            #apply the closet function
            #tdate=closest(start_sorted_bin,a)   
            df3_pt=df2_pt[df2_pt.result_date <=a]
            
            if not df3_pt.empty:
                tdate=df3_pt['result_date'].to_list()[-1]
                tvalue=df3_pt['test_results'].to_list()[-1]
                #status means yes there are baseline TT avail
                status="Y"

    print(y, a, tdate, tvalue, status, N_t_dates, N_t_dates_beforeADT)
    result_per_pt=[y,a,tdate,tvalue, status, N_t_dates, N_t_dates_beforeADT]
    result_baseline_list.append(result_per_pt)
    #validate

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

81 2014-04-15 00:00:00 2014-04-10 00:00:00 313.07 Y 12 1
1257 2014-10-02 00:00:00 2014-10-02 00:00:00 234.83 Y 14 1
1508 2016-08-03 00:00:00 2016-07-20 00:00:00 757.0 Y 9 1
2061 2018-04-04 00:00:00 2018-03-02 00:00:00 187.63 Y 7 4
2063 2017-11-15 00:00:00 2016-12-20 00:00:00 349.75 Y 11 1
2200 2014-06-16 00:00:00 2014-05-21 00:00:00 127.98 Y 4 2
2623 2017-12-12 00:00:00 2017-11-28 00:00:00 679.66 Y 15 9
2652 2019-02-22 00:00:00 2019-02-22 00:00:00 393.35 Y 6 3
2655 2017-06-08 00:00:00 2017-06-08 00:00:00 278.1 Y 15 2
3030 2015-03-12 00:00:00 2015-03-02 00:00:00 181.89 Y 9 2
3905 2014-08-01 00:00:00 NaN NaN N 7 0
3993 2017-12-01 00:00:00 2017-10-09 00:00:00 10.47 Y 8 1
4595 2012-09-01 00:00:00 NaN NaN N 11 0
5561 2018-04-13 00:00:00 2018-03-30 00:00:00 408.0 Y 4 1
5791 2019-03-06 00:00:00 2019-02-25 00:00:00 502.86 Y 7 2
5870 2017-08-11 00:00:00 2017-04-26 00:00:00 290.63 Y 14 1
5873 2010-08-05 00:00:00 2010-04-19 00:00:00 240.84 Y 5 1
7268 2018-06-25 00:00:00 2018-06-18 00:00:00 269.03 Y 8 1
7611 2015-02-17 00:00:00 2015-02-17 00:00:00 128.29 Y 34 6
7612 2015-02-09 00:00:00 2015-02-02 00:00:00 365.52 Y 37 1
8272 2016-08-05 00:00:00 2016-06-27 00:00:00 352.41 Y 18 1
8717 2012-11-01 00:00:00 NaN NaN N 30 0
9124 2013-05-25 00:00:00 NaN NaN N 35 0
9975 2017-10-09 00:00:00 2017-10-09 00:00:00 986.5 Y 13 3
10945 2018-04-17 00:00:00 2018-04-17 00:00:00 494.82 Y 14 6
11859 2018-07-12 00:00:00 2018-07-12 00:00:00 330.0 Y 8 1
11861 2018-04-06 00:00:00 2017-08-25 00:00:00 618.0 Y 3 1
12187 2015-11-05 00:00:00 2015-07-13 00:00:00 269.74 Y 5 1
12779 2012-04-19 00:00:00 2012-03-05 00:00:00 213.37 Y 9 1
13274 2018-04-03 00:00:00 2018-04-02 00:00:00 251.0 Y 8 1
13613 2019-06-25 00:00:00 2018-12-21 00:00:00 373.0 Y 6 4
14217 2016-12-12 00:00:00 2016-12-05 00:00:00 635.48 Y 19 3
14221 2019-03-19 00:00:00 2013-12-13 00:00:00 525.6 Y 2 1
14242 2015-05-27 00:00:00 2015-05-18 00:00:00 208.11 Y 19 1
14278 2018-04-02 00:00:00 2018-04-02 00:00:00 265.22 Y 15 4
14287 2019-04-15 00:00:00 2019-04-01 00:00:00 282.69 Y 7 2
14900 2014-07-29 00:00:00 2014-07-24 00:00:00 206.47 Y 28 1
15149 2014-11-21 00:00:00 2014-09-10 00:00:00 322.93 Y 5 2
15495 2017-01-25 00:00:00 2017-01-25 00:00:00 785.74 Y 8 1
16175 2017-05-23 00:00:00 2017-05-23 00:00:00 366.2 Y 23 4
16558 2016-04-27 00:00:00 2016-04-27 00:00:00 842.82 Y 9 1
17341 2018-01-02 00:00:00 2016-01-12 00:00:00 298.27 Y 5 3
17395 2017-05-08 00:00:00 2017-05-08 00:00:00 630.15 Y 9 1
17559 2015-07-27 00:00:00 2015-07-27 00:00:00 325.42 Y 8 4
17580 2017-10-18 00:00:00 2017-10-18 00:00:00 835.94 Y 7 6
17662 2013-12-19 00:00:00 2013-12-05 00:00:00 293.88 Y 40 1
17710 2014-04-01 00:00:00 2014-03-25 00:00:00 351.14 Y 49 2
17759 2013-03-01 00:00:00 NaN NaN N 13 0
18303 2017-02-06 00:00:00 2017-01-27 00:00:00 249.58 Y 9 1
18450 2018-12-28 00:00:00 2018-12-06 00:00:00 127.22 Y 7 3
18821 2017-06-05 00:00:00 2017-06-05 00:00:00 324.62 Y 15 3
19068 2013-03-01 00:00:00 2011-09-13 00:00:00 253.82 Y 4 1
21047 2018-08-13 00:00:00 2018-08-01 00:00:00 627.44 Y 5 1
21341 2019-01-14 00:00:00 2019-01-14 00:00:00 413.86 Y 6 1
21480 2017-01-11 00:00:00 2017-01-11 00:00:00 519.53 Y 11 1
21613 2016-12-22 00:00:00 2016-12-22 00:00:00 308.11 Y 11 1
21832 2016-02-09 00:00:00 2014-07-18 00:00:00 312.57 Y 10 8
21932 2015-09-10 00:00:00 2015-08-28 00:00:00 348.46 Y 16 4
21938 2018-04-12 00:00:00 2018-04-12 00:00:00 287.0 Y 8 1
22100 2017-08-09 00:00:00 2017-08-09 00:00:00 613.53 Y 16 4
22833 2018-05-23 00:00:00 2018-05-23 00:00:00 305.17 Y 10 2
23979 2018-08-01 00:00:00 2013-07-23 00:00:00 216.76 Y 2 1
24562 2018-06-01 00:00:00 2018-05-18 00:00:00 306.48 Y 11 1
24582 2017-05-31 00:00:00 2017-05-31 00:00:00 671.5 Y 19 1
25809 2010-11-08 00:00:00 2010-11-03 00:00:00 369.49 Y 17 1
25886 2015-10-01 00:00:00 2015-09-22 00:00:00 314.18 Y 23 5
26071 2015-01-26 00:00:00 2015-01-26 00:00:00 303.14 Y 4 2
26735 2015-07-01 00:00:00 2015-01-14 00:00:00 241.34 Y 20 1
26854 2018-01-30 00:00:00 2018-01-30 00:00:00 307.0 Y 4 1
27180 2015-09-23 00:00:00 2015-05-13 00:00:00 271.76 Y 14 1
27207 2015-03-25 00:00:00 2015-03-25 00:00:00 313.66 Y 9 1
27656 2010-10-29 00:00:00 2010-10-19 00:00:00 440.43 Y 42 2
27766 2015-12-01 00:00:00 2015-11-03 00:00:00 320.99 Y 13 4
27945 2019-07-16 00:00:00 2019-07-16 00:00:00 519.0 Y 3 1
27966 2016-02-17 00:00:00 2016-01-27 00:00:00 234.22 Y 23 4
30554 2017-11-17 00:00:00 2017-11-15 00:00:00 276.46 Y 31 4
30816 2018-08-20 00:00:00 2018-08-03 00:00:00 470.41 Y 11 1
31297 2014-03-31 00:00:00 2014-03-31 00:00:00 295.78 Y 35 2
31492 2017-05-26 00:00:00 2016-12-12 00:00:00 442.75 Y 10 3
31839 2019-07-30 00:00:00 2016-09-28 00:00:00 269.53 Y 4 3
32230 2015-02-07 00:00:00 2015-01-26 00:00:00 308.45 Y 16 1
32276 2014-03-26 00:00:00 2014-03-14 00:00:00 284.96 Y 11 2
33500 2016-10-26 00:00:00 2016-10-26 00:00:00 701.1 Y 6 1
33586 2019-07-08 00:00:00 2017-12-28 00:00:00 366.0 Y 20 18
34207 2018-02-01 00:00:00 2018-02-01 00:00:00 126.0 Y 10 1
34433 2015-07-09 00:00:00 2015-07-02 00:00:00 570.3 Y 17 2
34547 2017-12-20 00:00:00 2017-12-20 00:00:00 358.0 Y 14 1
34574 2016-04-11 00:00:00 NaN NaN N 11 0
35103 2019-05-10 00:00:00 2019-05-10 00:00:00 746.76 Y 9 2
35343 2018-09-24 00:00:00 2012-10-22 00:00:00 381.01 Y 4 2
36249 2018-12-11 00:00:00 2018-12-11 00:00:00 551.62 Y 6 2
36508 2015-10-07 00:00:00 2015-09-21 00:00:00 215.33 Y 18 1
167118 2019-05-07 00:00:00 2019-04-08 00:00:00 387.87 Y 2 1
178232 2019-04-24 00:00:00 NaN NaN N 4 0
180346 2019-04-05 00:00:00 2019-03-20 00:00:00 586.49 Y 3 1
180780 2019-10-21 00:00:00 2019-10-14 00:00:00 452.43 Y 4 1
186766 2019-05-06 00:00:00 2019-05-06 00:00:00 419.58 Y 10 2
187363 2019-02-01 00:00:00 2019-02-01 00:00:00 564.01 Y 9 2

In [16]:
df_baseline=pd.DataFrame(result_baseline_list)
df_baseline.columns=(['person_id', 'inital_ADT_start_date', 'Tdate_baseline', 'Tvalue_baseline', 'BaselineStatus',"N_T_dates","N_T_dates_beofreADT"])
df_baseline[:5]

#baseline. ok list
df_has_baseline=df_baseline[df_baseline.BaselineStatus=="Y"]
list_pt_with_tbaseline=df_has_baseline["person_id"].to_list()

In [17]:
print(len(list_pt_with_tbaseline))

91

In [18]:
df_baseline.to_csv("./data/270pts_salvage_localized_tbaseline.csv", encoding='utf-8', index=False)

# T recovery status

In [19]:
result_status_list_rec=[]
df1=df_fixfix
df2=df_tvalue

for y in list_pt_with_tbaseline:
    
    df1_pt=df1[(df1["person_id"] == y)]
    df1_pt['ADT_end'] = pd.to_datetime(df1_pt['ADT_end'])
    
    if(len(df1_pt.ADT_end) == 0):        
        b='NaN'
        #gap='NaN'
        tdate='NaN'
        tvalue='NaN'
        status="NaN"
        N_t_dates='NaN'
        N_t_dates_afterADT='NaN'

    if(len(df1_pt.ADT_end)!= 0):        
        b=df1_pt['ADT_end'].to_list()[0]
        
        df2_pt=df2[(df2["person_id"] == y)]    
        each_pt_tdates = df2_pt['result_date'].to_list()

        ##get rid of nan
        cleaned_a=[]
        cleaned_a= [x for x in each_pt_tdates if str(x) != 'NaN']
        cleaned_aa= [x for x in cleaned_a if str(x) != 'nan']
        cleaned_aaa= [x for x in cleaned_aa if str(x) != 'NaT']
        N_t_dates=len(cleaned_aaa)

        #only keep the ones after ADT end date including on the day
        cleaned_aaaa= [x for x in cleaned_aaa if x >=b]
        start_sorted_bin=sorted(cleaned_aaaa)
        N_t_dates_afterADT=len(cleaned_aaaa)
   
        if(len(start_sorted_bin)==0):
            tdate='NaN' 
            tvalue="NaN"
            status="NaN"

#get the 300

        if(len(start_sorted_bin)>0):
            df3_pt=df2_pt[df2_pt.test_results >=300][df2_pt.result_date >=b]
            df4_pt=df2_pt[df2_pt.test_results <300][df2_pt.result_date >=b]

            if not df3_pt.empty:
                status ="Y"
                tdate=df3_pt['result_date'].to_list()[0]
                tvalue=df3_pt['test_results'].to_list()[0]
            
            #if not df4_pt.empty:
            if df3_pt.empty:
                status ="N"
                tdate=df4_pt['result_date'].to_list()[-1]
                tvalue=df4_pt['test_results'].to_list()[-1]
    
    print(y, b, tdate, tvalue,status, N_t_dates,N_t_dates_afterADT)
    result_status_per_pt=[y,b,tdate, tvalue, status,N_t_dates,N_t_dates_afterADT]
    result_status_list_rec.append(result_status_per_pt)
#result_status_list_rec=[]

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

81 2016-06-09 00:00:00 2017-04-03 00:00:00 309.59 Y 12 10
1257 2015-07-08 00:00:00 2017-07-07 00:00:00 313.36 Y 14 13
1508 2017-04-16 00:00:00 2018-02-07 00:00:00 778.86 Y 9 5
2061 2019-02-06 00:00:00 2019-10-09 00:00:00 39.2 N 7 2
2063 2018-03-20 00:00:00 2018-08-16 00:00:00 352.32 Y 11 10
2200 2014-11-03 00:00:00 2014-12-03 00:00:00 26.17 N 4 1
2623 2019-10-03 00:00:00 2020-05-28 00:00:00 177.1 N 15 1
2652 2019-06-01 00:00:00 2019-12-16 00:00:00 379.41 Y 6 3
2655 2017-11-07 00:00:00 2020-05-07 00:00:00 169.48 N 15 9
3030 2015-06-05 00:00:00 2020-10-12 00:00:00 6.2 N 9 7
3993 2020-02-06 00:00:00 NaN NaN NaN 8 0
5561 2019-06-21 00:00:00 NaN NaN NaN 4 0
5791 2020-12-01 00:00:00 NaN NaN NaN 7 0
5870 2017-11-13 00:00:00 2020-06-25 00:00:00 19.27 N 14 11
5873 2010-11-08 00:00:00 2012-09-13 00:00:00 214.46 N 5 4
7268 2019-01-19 00:00:00 2019-08-07 00:00:00 726.27 Y 8 6
7611 2018-09-12 00:00:00 2020-07-13 00:00:00 8.01 N 34 18
7612 2016-01-20 00:00:00 2016-05-18 00:00:00 570.37 Y 37 34
8272 2018-09-07 00:00:00 2020-07-06 00:00:00 19.42 N 18 7
9975 2018-03-05 00:00:00 2019-01-07 00:00:00 410.26 Y 13 6
10945 2019-12-12 00:00:00 2020-05-14 00:00:00 15.06 N 14 2
11859 2018-08-08 00:00:00 2019-04-25 00:00:00 317.0 Y 8 7
11861 2018-07-06 00:00:00 2020-01-10 00:00:00 440.34 Y 3 2
12187 2016-02-24 00:00:00 2017-04-21 00:00:00 220.96 N 5 3
12779 2013-12-12 00:00:00 2016-04-21 00:00:00 4.33 N 9 6
13274 2018-09-01 00:00:00 2019-08-28 00:00:00 302.0 Y 8 3
13613 2019-09-24 00:00:00 2019-10-07 00:00:00 345.0 Y 6 2
14217 2017-05-01 00:00:00 2017-09-11 00:00:00 558.99 Y 19 13
14221 2019-06-11 00:00:00 2019-09-04 00:00:00 11.31 N 2 1
14242 2016-02-15 00:00:00 2020-06-19 00:00:00 18.29 N 19 16
14278 2018-11-26 00:00:00 2020-06-22 00:00:00 12.29 N 15 9
14287 2019-07-15 00:00:00 2020-10-12 00:00:00 4.33 N 7 4
14900 2018-09-01 00:00:00 2020-03-09 00:00:00 5.18 N 28 7
15149 2015-08-14 00:00:00 2015-11-13 00:00:00 17.37 N 5 2
15495 2018-08-15 00:00:00 2019-05-22 00:00:00 669.05 Y 8 3
16175 2018-04-03 00:00:00 2018-12-07 00:00:00 359.61 Y 23 10
16558 2017-01-23 00:00:00 2018-01-31 00:00:00 476.04 Y 9 5
17341 2018-07-08 00:00:00 2018-10-26 00:00:00 341.0 Y 5 2
17395 2018-02-07 00:00:00 2018-09-12 00:00:00 393.1 Y 9 8
17559 2015-11-24 00:00:00 2016-06-03 00:00:00 439.17 Y 8 3
17580 2018-02-26 00:00:00 2019-11-07 00:00:00 723.05 Y 7 1
17662 2014-08-15 00:00:00 2015-05-19 00:00:00 433.37 Y 40 39
17710 2014-09-10 00:00:00 2015-09-17 00:00:00 356.46 Y 49 45
18303 2017-09-12 00:00:00 2018-10-10 00:00:00 13.58 N 9 7
18450 2019-04-25 00:00:00 2019-12-09 00:00:00 278.93 N 7 3
18821 2013-05-01 00:00:00 2017-05-08 00:00:00 314.92 Y 15 15
19068 2017-10-01 00:00:00 2018-09-04 00:00:00 179.0 N 4 3
21047 2019-03-01 00:00:00 2019-10-29 00:00:00 421.29 Y 5 3
21341 2019-04-08 00:00:00 2019-10-30 00:00:00 330.26 Y 6 5
21480 2017-06-19 00:00:00 2018-09-18 00:00:00 339.0 Y 11 7
21613 2017-10-12 00:00:00 2019-02-19 00:00:00 61.0 N 11 4
21832 2016-05-26 00:00:00 2016-11-28 00:00:00 312.15 Y 10 2
21932 2016-05-27 00:00:00 2017-03-06 00:00:00 405.77 Y 16 12
21938 2019-04-25 00:00:00 2019-12-19 00:00:00 3.0 N 8 3
22100 2018-01-17 00:00:00 2019-02-13 00:00:00 388.0 Y 16 8
22833 2019-02-13 00:00:00 2019-11-20 00:00:00 34.91 N 10 4
23979 2018-11-12 00:00:00 2019-02-08 00:00:00 11.03 N 2 1
24562 2019-08-26 00:00:00 2020-08-12 00:00:00 69.44 N 11 5
24582 2019-02-27 00:00:00 2019-10-01 00:00:00 429.45 Y 19 5
25809 2016-03-03 00:00:00 2016-05-19 00:00:00 14.37 N 17 2
25886 2016-01-20 00:00:00 2017-05-15 00:00:00 341.92 Y 23 16
26071 2015-04-27 00:00:00 2015-09-18 00:00:00 11.95 N 4 2
26735 2015-10-19 00:00:00 2020-04-09 00:00:00 11.0 N 20 19
26854 2018-05-15 00:00:00 2018-08-03 00:00:00 13.54 N 4 2
27180 2016-02-16 00:00:00 2016-12-19 00:00:00 307.96 Y 14 12
27207 2015-07-31 00:00:00 2017-01-27 00:00:00 360.66 Y 9 7
27656 2012-09-18 00:00:00 2013-09-09 00:00:00 382.32 Y 42 32
27766 2016-03-28 00:00:00 2018-06-25 00:00:00 381.59 Y 13 9
27945 2019-10-15 00:00:00 2020-07-20 00:00:00 409.0 Y 3 2
27966 2016-06-16 00:00:00 2019-10-16 00:00:00 208.14 N 23 16
30554 2018-05-09 00:00:00 2018-09-12 00:00:00 416.28 Y 31 22
30816 2020-05-21 00:00:00 2020-08-07 00:00:00 3.0 N 11 1
31297 2014-09-03 00:00:00 2015-06-10 00:00:00 372.14 Y 35 29
31492 2017-08-28 00:00:00 2018-02-14 00:00:00 475.77 Y 10 7
31839 2019-10-29 00:00:00 2020-01-24 00:00:00 14.03 N 4 1
32230 2015-11-04 00:00:00 2017-07-21 00:00:00 312.0 Y 16 12
32276 2014-08-18 00:00:00 2016-04-19 00:00:00 652.98 Y 11 9
33500 2017-06-28 00:00:00 2017-12-06 00:00:00 75.87 N 6 2
33586 2019-10-08 00:00:00 2020-06-10 00:00:00 344.0 Y 20 2
34207 2018-09-27 00:00:00 2020-05-28 00:00:00 20.0 N 10 5
34433 2015-08-10 00:00:00 2016-02-09 00:00:00 604.14 Y 17 15
34547 2018-05-09 00:00:00 2018-10-30 00:00:00 436.0 Y 14 9
35103 2019-10-10 00:00:00 2020-01-20 00:00:00 11.06 N 9 2
35343 2019-01-07 00:00:00 2019-07-24 00:00:00 574.43 Y 4 1
36249 2019-02-28 00:00:00 2020-01-07 00:00:00 313.0 Y 6 3
36508 2016-07-11 00:00:00 2017-05-15 00:00:00 394.88 Y 18 15
167118 2020-02-19 00:00:00 NaN NaN NaN 2 0
180346 2019-09-18 00:00:00 2019-10-09 00:00:00 14.55 N 3 2
180780 2020-01-15 00:00:00 2020-05-13 00:00:00 10.46 N 4 2
186766 2020-02-03 00:00:00 2020-09-02 00:00:00 730.6 Y 10 4
187363 2019-06-19 00:00:00 2020-02-24 00:00:00 366.97 Y 9 4

In [20]:
df_result_status_rec=pd.DataFrame(result_status_list_rec)
df_result_status_rec.columns=(['person_id', 'initial_ADT_end_date', 'Tdate_rec_norec', 'Tvalue_rec_norec', 'Status',"N_T_dates","N_T_dates_afterADT"])
df_result_status_rec

,person_id,initial_ADT_end_date,Tdate_rec_norec,Tvalue_rec_norec,Status,N_T_dates,N_T_dates_afterADT
0,81,2016-06-09,2017-04-03,309.59,Y,12,10
1,1257,2015-07-08,2017-07-07,313.36,Y,14,13
2,1508,2017-04-16,2018-02-07,778.86,Y,9,5
3,2061,2019-02-06,2019-10-09,39.2,N,7,2
4,2063,2018-03-20,2018-08-16,352.32,Y,11,10
...,...,...,...,...,...,...,...
86,167118,2020-02-19,NaT,NaN,NaN,2,0
87,180346,2019-09-18,2019-10-09,14.55,N,3,2
88,180780,2020-01-15,2020-05-13,10.46,N,4,2
89,186766,2020-02-03,2020-09-02,730.6,Y,10,4
90,187363,2019-06-19,2020-02-24,366.97,Y,9,4

In [21]:
df_result_status_rec

,person_id,initial_ADT_end_date,Tdate_rec_norec,Tvalue_rec_norec,Status,N_T_dates,N_T_dates_afterADT
0,81,2016-06-09,2017-04-03,309.59,Y,12,10
1,1257,2015-07-08,2017-07-07,313.36,Y,14,13
2,1508,2017-04-16,2018-02-07,778.86,Y,9,5
3,2061,2019-02-06,2019-10-09,39.2,N,7,2
4,2063,2018-03-20,2018-08-16,352.32,Y,11,10
...,...,...,...,...,...,...,...
86,167118,2020-02-19,NaT,NaN,NaN,2,0
87,180346,2019-09-18,2019-10-09,14.55,N,3,2
88,180780,2020-01-15,2020-05-13,10.46,N,4,2
89,186766,2020-02-03,2020-09-02,730.6,Y,10,4
90,187363,2019-06-19,2020-02-24,366.97,Y,9,4

In [22]:
df_result_status_rec.to_csv("./data/270pt_salvage_recovery_status_Mar18.csv", encoding='utf-8', index=False)

In [24]:
df_rec_pt=df_result_status_rec[df_result_status_rec.Status=="Y"]
df_nonrec_pt=df_result_status_rec[df_result_status_rec.Status=="N"]

list_pt_rec=df_rec_pt["person_id"].to_list()
list_pt_nonrec=df_nonrec_pt["person_id"].to_list()

df_has_baseline=df_baseline[df_baseline.BaselineStatus=="Y"]
list_pt_with_tbaseline=df_has_baseline["person_id"].to_list()
#
print(len(list_pt_rec))
print(len(list_pt_nonrec))
print(len(list_pt_with_tbaseline))

49
38
91

In [26]:
# assign status to 270 pts; rec, nonrec, not_included
df_270list=pd.read_excel("./data/270_total_list.xlsx", header=0)
list_pt=df_270list["person_id"].to_list()

In [27]:
print(shape(list_pt))

(270,)

In [ ]:
#all lists
#49 list_pt_rec
#38 list_pt_nonrec
#91 list_pt_with_tbaseline
#98 list_pt_new

# mark these lists in the 270 pt lists to merge with the rest

In [37]:
result_assign_status_list=[]
#for the 270 pts, make decisions of 1) in the 229 list y/n, 2) baseline y/n, and 3) recov y/n
for y in list_pt:

    if y not in list_pt_new: 
        
        status_salvage_local="N"
        status_tbaseline="NaN"
        status_rec="NaN"
        
    if y in list_pt_new: 
        status_salvage_local="Y"
        status_tbaseline="NaN"
        status_rec="NaN"
        
        if y in list_pt_with_tbaseline: 
            status_tbaseline="Y"
            if y in list_pt_rec:
                status_rec="Y"                 
            if y in list_pt_nonrec:
                status_rec="N"  
            
        if y not in list_pt_with_tbaseline: 
            status_tbaseline="N"
            if y in list_pt_rec:
                status_rec="NaN"  
            if y in list_pt_nonrec:
                status_rec="NaN"    
                #print(status_rec)
                
    print(y,status_manual_ok,status_tbaseline,status_rec)
    result_status=[y,status_salvage_local,status_tbaseline,status_rec]
    result_assign_status_list.append(result_status)

2 N NaN NaN
13 N NaN NaN
25 N NaN NaN
38 N NaN NaN
81 N Y Y
110 N NaN NaN
119 N NaN NaN
780 N NaN NaN
870 N NaN NaN
905 N NaN NaN
1257 N Y Y
1503 N NaN NaN
1508 N Y Y
1583 N NaN NaN
1704 N NaN NaN
2061 N Y N
2063 N Y Y
2200 N Y N
2278 N NaN NaN
2605 N NaN NaN
2623 N Y N
2652 N Y Y
2655 N Y N
2660 N NaN NaN
3030 N Y N
3129 N NaN NaN
3131 N NaN NaN
3155 N NaN NaN
3579 N NaN NaN
3905 N N NaN
3993 N Y NaN
4056 N NaN NaN
4235 N NaN NaN
4257 N NaN NaN
4319 N NaN NaN
4595 N N NaN
4717 N NaN NaN
4793 N NaN NaN
4854 N NaN NaN
5021 N NaN NaN
5041 N NaN NaN
5043 N NaN NaN
5394 N NaN NaN
5561 N Y NaN
5652 N NaN NaN
5791 N Y NaN
5870 N Y N
5873 N Y N
5875 N NaN NaN
6078 N NaN NaN
6104 N NaN NaN
6268 N NaN NaN
6505 N NaN NaN
6794 N NaN NaN
6841 N NaN NaN
7236 N NaN NaN
7268 N Y Y
7611 N Y N
7612 N Y Y
7798 N NaN NaN
7870 N NaN NaN
8020 N NaN NaN
8194 N NaN NaN
8272 N Y N
8302 N NaN NaN
8544 N NaN NaN
8717 N N NaN
8758 N NaN NaN
9124 N N NaN
9232 N NaN NaN
9233 N NaN NaN
9474 N NaN NaN
9541 N NaN NaN
9972 N NaN NaN
9975 N Y Y
10124 N NaN NaN
10471 N NaN NaN
10945 N Y N
10995 N NaN NaN
11482 N NaN NaN
11543 N NaN NaN
11613 N NaN NaN
11821 N NaN NaN
11859 N Y Y
11861 N Y Y
12184 N NaN NaN
12187 N Y N
12208 N NaN NaN
12374 N NaN NaN
12563 N NaN NaN
12779 N Y N
13170 N NaN NaN
13258 N NaN NaN
13274 N Y Y
13609 N NaN NaN
13613 N Y Y
13859 N NaN NaN
14096 N NaN NaN
14217 N Y Y
14221 N Y N
14242 N Y N
14278 N Y N
14287 N Y N
14486 N NaN NaN
14900 N Y N
14990 N NaN NaN
15149 N Y N
15174 N NaN NaN
15185 N NaN NaN
15456 N NaN NaN
15495 N Y Y
16175 N Y Y
16229 N NaN NaN
16546 N NaN NaN
16550 N NaN NaN
16558 N Y Y
16630 N NaN NaN
17341 N Y Y
17395 N Y Y
17559 N Y Y
17580 N Y Y
17638 N NaN NaN
17662 N Y Y
17709 N NaN NaN
17710 N Y Y
17759 N N NaN
17782 N NaN NaN
18303 N Y N
18450 N Y N
18801 N NaN NaN
18821 N Y Y
19068 N Y N
19096 N NaN NaN
19541 N NaN NaN
19917 N NaN NaN
20015 N NaN NaN
20046 N NaN NaN
20047 N NaN NaN
20270 N NaN NaN
20556 N NaN NaN
20663 N NaN NaN
20868 N NaN NaN
20929 N NaN NaN
21003 N NaN NaN
21047 N Y Y
21341 N Y Y
21351 N NaN NaN
21448 N NaN NaN
21480 N Y Y
21613 N Y N
21655 N NaN NaN
21656 N NaN NaN
21762 N NaN NaN
21832 N Y Y
21932 N Y Y
21938 N Y N
22100 N Y Y
22380 N NaN NaN
22412 N NaN NaN
22483 N NaN NaN
22676 N NaN NaN
22830 N NaN NaN
22833 N Y N
23256 N NaN NaN
23306 N NaN NaN
23332 N NaN NaN
23945 N NaN NaN
23979 N Y N
24107 N NaN NaN
24112 N NaN NaN
24137 N NaN NaN
24143 N NaN NaN
24222 N NaN NaN
24226 N NaN NaN
24474 N NaN NaN
24562 N Y N
24582 N Y Y
24654 N NaN NaN
24830 N NaN NaN
24877 N NaN NaN
25061 N NaN NaN
25586 N NaN NaN
25809 N Y N
25830 N NaN NaN
25871 N NaN NaN
25886 N Y Y
26071 N Y N
26366 N NaN NaN
26687 N NaN NaN
26735 N Y N
26854 N Y N
27180 N Y Y
27207 N Y Y
27255 N NaN NaN
27277 N NaN NaN
27656 N Y Y
27685 N NaN NaN
27710 N NaN NaN
27766 N Y Y
27945 N Y Y
27964 N NaN NaN
27966 N Y N
28209 N NaN NaN
28413 N NaN NaN
28442 N NaN NaN
28662 N NaN NaN
28716 N NaN NaN
29029 N NaN NaN
29049 N NaN NaN
29307 N NaN NaN
29359 N NaN NaN
30528 N NaN NaN
30554 N Y Y
30575 N NaN NaN
30689 N NaN NaN
30816 N Y N
30997 N NaN NaN
31131 N NaN NaN
31297 N Y Y
31413 N NaN NaN
31492 N Y Y
31635 N NaN NaN
31839 N Y N
31921 N NaN NaN
32081 N NaN NaN
32113 N NaN NaN
32116 N NaN NaN
32230 N Y Y
32231 N NaN NaN
32276 N Y Y
32280 N NaN NaN
32660 N NaN NaN
33086 N NaN NaN
33477 N NaN NaN
33500 N Y N
33586 N Y Y
33937 N NaN NaN
33977 N NaN NaN
33980 N NaN NaN
34207 N Y N
34414 N NaN NaN
34433 N Y Y
34462 N NaN NaN
34494 N NaN NaN
34547 N Y Y
34574 N N NaN
35103 N Y N
35115 N NaN NaN
35343 N Y Y
35392 N NaN NaN
35692 N NaN NaN
35779 N NaN NaN
35799 N NaN NaN
35828 N NaN NaN
35932 N NaN NaN
36062 N NaN NaN
36249 N Y Y
36508 N Y Y
167118 N Y NaN
167358 N NaN NaN
178232 N N NaN
180346 N Y N
180780 N Y N
183255 N NaN NaN
185086 N NaN NaN
186766 N Y Y
187363 N Y Y
187900 N NaN NaN
189405 N NaN NaN
201343 N NaN NaN

In [38]:
df_result_3status=pd.DataFrame(result_assign_status_list)
df_result_3status.columns=(['person_id', 'status_salvage_local','status_tbaseline','status_rec'])

In [39]:
df_result_3status
df_rec= df_result_3status[(df_result_3status["status_rec"] == "Y")][(df_result_3status["status_tbaseline"] == "Y")]
print(shape(df_rec))

(49, 4)

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [41]:
df_result_3status.to_csv("./data/270pt_salvage_assgin_3status_Mar18_NEW.csv", encoding='utf-8', index=False)

In [109]:
#check numbers